body {
	font-family: Verdana;
}

.royalsLineup {
	margin: 0;
	background-color: #7AB2DD;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40vh;
	border: 5px solid black;
}

.royalsBench {
	margin: 0;
	background-color: #7AB2DD;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 35vh;
	border: 5px solid black;
}

.giantsCurrent {
	margin: 0;
	background-color: #FD5A1E;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40vh;
	border: 5px solid black;
}

.giantsPitcher {
	text-align: center;
}

.giantsBullpen {
	margin: 0;
	background-color: #FD5A1E;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 35vh;
	border: 5px solid black;
}

.royalPlayer {
	text-align: center;
}

#replacer {
	margin-top: 10px;
	color: red;
	background-color: black;
}

#instigate {
	color: red;
	background-color: black;
}